<%- include("./layout/head", {title: title}) %>

<div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
  <hr class="my-4">
  <p>Многостраничный интерфейс для работы с сущностью «книга»</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/books" role="button">Перейти к списку</a>
  </p>
</div>
<%- include("./layout/footer") %>