<%- include("../layout/header", {title: title}) %>
<%- include("../layout/head", {title: title}) %>
<div class="container">
  <h3 class="display-4"><%= title %></h3>
</div>
<%- include("../layout/footer") %>